<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lukáš Fessl{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <script src="{{ asset('js/jquery.slimscroll.min.js') }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    	<div class="page">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
